<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Feeds</title>
    {{!--
    <link rel="icon" href="../../../assets/favicon.ico" type="image/x-icon"> --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        .table td,
        .table th {
            padding: 0.75rem;
            white-space: nowrap;
        }

        .icon-btn {
            border: none;
            background: none;
            padding: 0;
            margin: 0 5px;
            cursor: pointer;
        }

        .icon-btn i {
            font-size: 1.2em;
            color: #007BFF;
        }

        .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            /* Para una mejor experiencia en dispositivos táctiles */

        }

        .table thead th {
            white-space: nowrap;
        }

        .highlight-row {
            background-color: #f8f9fa;
        }

        .editable {
            display: none;
        }

        .editing .editable {
            display: inline;
        }

        .d-none {
            display: none;
        }

        .editing .non-editable {
            display: none;
        }

        .action-buttons {
            margin-bottom: 15px;
            text-align: left;
        }

        .password-protected {
            -webkit-text-security: disc;
        }

        .hourglass-icon {
            font-size: 48px;
            color: #007BFF;
            animation: rotateHourglass 5s infinite linear;
        }

        @keyframes rotateHourglass {
            0% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(180deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }


        .btn-toggle-cron {
            background: none;
            border: none;
            padding: 0.5rem;
            /* Añadir padding para un área de clic más grande */
            margin: 0;
            cursor: pointer;
            outline: none;
            /* Para eliminar el contorno de enfoque */
            -webkit-appearance: none;
            /* Para eliminar el estilo predeterminado en Safari */
            border-radius: 5px;
            /* Añadir border-radius */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            /* Añadir sombra */
            display: flex;
            align-items: center;
            /* Centrar verticalmente el ícono dentro del botón */
            justify-content: center;
            /* Centrar horizontalmente el ícono dentro del botón */
            transition: background-color 0.3s;
        }

        .btn-toggle-cron .cron-icon {
            font-size: 1.2em;
            /* Reducir tamaño del ícono */
            transition: color 0.3s, transform 0.3s;
        }

        .btn-toggle-cron .cron-icon.active {
            color: green;
            background: none !important;
            /* Asegura que no haya fondo */
        }

        .btn-toggle-cron .cron-icon.inactive {
            color: red;
            background: none !important;
            /* Asegura que no haya fondo */
        }

        .btn-toggle-cron:hover {
            background-color: rgba(0, 123, 255, 0.1);
            /* Fondo azul claro al pasar el ratón */
        }

        .btn-toggle-cron:hover .cron-icon.active {
            color: darkgreen;
            /* Color verde oscuro al pasar el ratón */
        }

        .btn-toggle-cron:hover .cron-icon.inactive {
            color: darkred;
            /* Color rojo oscuro al pasar el ratón */
        }

        .btn-toggle-cron:hover .cron-icon {
            transform: scale(1.2);
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container mt-5">


        {{#unless (eq roleModule.0.access_type "Read Only")}}

        <div class="action-buttons">
            <!-- Modal de Confirmación
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
                <i class="fas fa-plus"></i> Create
            </button>
             -->



            <a class="btn btn-success" href="feeds/createFeed">
                <i class="fas fa-plus"></i> Create
            </a>

        </div>
        {{/unless}}
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <i class="fas fa-rss me-2"></i> <!-- Icono de Font Awesome -->
                <h2>Feed List</h2>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th class="col-id">ID</th>
                            <th class="col-status">Cron</th>
                            <th class="col-name">Name</th>
                            <th class="d-none">Formulas</th>
                            <th>Last Update</th>
                            <th>GM Products</th>
                            <th>BC Products</th>
                            <th>Preorder Products</th>
                            {{#unless (eq roleModule.0.access_type "Read Only")}}
                            <th class="text-center">Actions</th>
                            {{/unless}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each feeds}}
                        <tr>
                            <td><span class="non-editable">{{this.feed_id}}</span><span
                                    class="editable">{{this.feed_id}}</span></td>
                            <td class="text-center">
                                <button class="btn-toggle-cron" data-feed-id="{{this.feed_id}}" data-bs-toggle="tooltip"
                                    title="Cron Status">
                                    <i
                                        class="fas fa-lightbulb cron-icon {{#if this.isActive}}active{{else}}inactive{{/if}}"></i>
                                </button>
                            </td>






                            <td><span class="non-editable">{{this.feed_name}}</span><input type="text"
                                    class="form-control editable" value="{{this.feed_name}}"></td>
                            <td class="d-none"><span class="d-none non-editable">{{this.formulas}}</span><input
                                    type="text" class="d-none form-control editable" value="{{this.formulas}}"></td>
                            <td><span class="non-editable">{{this.last_update}}</span><input type="text"
                                    class="form-control editable" value="{{this.last_update}}"></td>
                            <td><span class="non-editable">{{this.active_products_gm}}</span><input type="text"
                                    class="form-control editable" value="{{this.active_products_gm}}"></td>
                            <td><span class="non-editable">{{this.total_products_bc}}</span><input type="text"
                                    class="form-control editable" value="{{this.total_products_bc}}"></td>
                            <td><span class="non-editable">{{this.preorder_products}}</span><input type="text"
                                    class="form-control editable" value="{{this.preorder_products}}"></td>
                            <td class="text-center">
                                {{#unless (eq ../roleModule.0.access_type "Read Only")}}
                                <button class="btn btn-primary btn-edit" title="Update" data-feed-id="{{this.feed_id}}">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-success btn-save editable" title="Save">
                                    <i class="fas fa-check"></i>
                                </button>
                                <button class="btn btn-secondary btn-cancel editable" title="Cancel">
                                    <i class="fas fa-times"></i>
                                </button>
                                <button class="btn btn-danger btn-delete" title="Delete"
                                    data-feed-id="{{this.feed_id}}">
                                    <i class="fas fa-trash"></i>
                                </button>
                                {{/unless}}
                                <!-- Botones que siempre deben aparecer -->
                                <button class="btn btn-info btn-sync" title="Synchronize"
                                    data-feed-id="{{this.feed_id}}">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <button class="btn btn-warning btn-download" title="Download"
                                    data-feed-id="{{this.feed_id}}">
                                    <i class="fas fa-download"></i>
                                </button>
                            </td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to save the changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmSave">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación de Eliminación -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmModalLabel">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the feed with ID <span id="deleteFeedId"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Crear Feed -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Create New Feed</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createForm">
                        <div class="mb-3">
                            <label for="feed_name" class="form-label">Feed Name</label>
                            <input type="text" class="form-control" id="feed_name">
                        </div>
                        <div class="mb-3">
                            <label for="domain" class="form-label">Domain</label>
                            <input type="text" class="form-control" id="domain">
                        </div>
                        <div class="mb-3">
                            <label for="store_hash" class="form-label">Store Hash</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="store_hash">
                                <span class="input-group-text toggle-password" data-toggle="store_hash"><i
                                        class="fas fa-eye"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="x_auth_token" class="form-label">x_auth_token</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="x_auth_token">
                                <span class="input-group-text toggle-password" data-toggle="x_auth_token"><i
                                        class="fas fa-eye"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="client_id" class="form-label">Merchant ID</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="client_id">
                                <span class="input-group-text toggle-password" data-toggle="client_id"><i
                                        class="fas fa-eye"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="formulas" class="form-label">Formulas</label>
                            <input type="text" class="form-control" id="formulas">
                        </div>
                        <div class="mb-3">
                            <label for="company_id" class="form-label">Company</label>
                            <select class="form-control" id="company_id" disabled>
                                {{#each companies}}
                                <option value="{{this.company_id}}">{{this.company_name}}</option>
                                {{/each}}
                            </select>
                        </div>


                        <div class="mb-3">
                            <label for="client_email" class="form-label">Client Email</label>
                            <input type="email" class="form-control" id="client_email">
                        </div>
                        <div class="mb-3">
                            <label for="private_key" class="form-label">Private Key</label>
                            <div class="input-group">
                                <textarea class="form-control password-protected" id="private_key" rows="3"
                                    maxlength="2500"></textarea>
                                <span class="input-group-text toggle-password" data-toggle="private_key"><i
                                        class="fas fa-eye"></i></span>
                            </div>
                        </div>

                        <!-- Nueva Sección para Repetir -->
                        <div class="mb-3">
                            <label class="form-label">Custom recurrence</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Repeat every</span>
                                <select class="form-control">
                                    <option value="1">1 hour</option>
                                    <option value="3">3 hours</option>
                                    <option value="6">6 hours</option>
                                    <option value="12">12 hours</option>
                                </select>
                            </div>
                            <div class="btn-group" role="group" aria-label="Repeat on">
                                <input type="checkbox" class="btn-check" id="monday" autocomplete="off">
                                <label class="btn btn-outline-primary" for="monday">M</label>

                                <input type="checkbox" class="btn-check" id="tuesday" autocomplete="off">
                                <label class="btn btn-outline-primary" for="tuesday">T</label>

                                <input type="checkbox" class="btn-check" id="wednesday" autocomplete="off">
                                <label class="btn btn-outline-primary" for="wednesday">W</label>

                                <input type="checkbox" class="btn-check" id="thursday" autocomplete="off">
                                <label class="btn btn-outline-primary" for="thursday">T</label>

                                <input type="checkbox" class="btn-check" id="friday" autocomplete="off">
                                <label class="btn btn-outline-primary" for="friday">F</label>

                                <input type="checkbox" class="btn-check" id="saturday" autocomplete="off">
                                <label class="btn btn-outline-primary" for="saturday">S</label>

                                <input type="checkbox" class="btn-check" id="sunday" autocomplete="off">
                                <label class="btn btn-outline-primary" for="sunday">S</label>
                            </div>
                        </div>
                        <!-- Fin de la Nueva Sección -->

                        <div class="action-buttons">
                            <button type="button" class="btn btn-primary" id="createButton">Create</button>
                            <button type="button" class="btn btn-secondary" id="cancelButton">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Sincronización -->
    <div class="modal fade" id="syncModal" tabindex="-1" aria-labelledby="syncModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="syncModalLabel">Synchronization in Progress</h5>
                </div>
                <div class="modal-body text-center">
                    <i class="fas fa-hourglass-half hourglass-icon"></i>
                    <p class="mt-3">The synchronization has started, please do not close the page.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Generación de Excel -->
    <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="downloadModalLabel">Generating Excel File</h5>
                </div>
                <div class="modal-body text-center">
                    <i class="fas fa-hourglass-half hourglass-icon"></i>
                    <p class="mt-3">The Excel file is being generated, please do not close the page.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para las Formulas -->
    <div class="modal fade" id="formulasModal" tabindex="-1" aria-labelledby="formulasModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formulasModalLabel">Edit Formulas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formulaText" class="form-label">Formulas</label>
                        <input type="text" class="form-control" id="formulaText">
                    </div>
                    <button type="button" class="btn btn-secondary" id="closeModalButton"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Confirmación de Activación de Cron -->
    <div class="modal fade" id="toggleCronModal" tabindex="-1" aria-labelledby="toggleCronModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="toggleCronModalLabel">Toggle Cron Job</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to toggle the cron job?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmToggleCron">Yes, toggle it</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Bootstrap JS bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Funcionalidad de editar
            document.querySelectorAll('.btn-edit').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var feedId = btn.getAttribute('data-feed-id');
                    window.location.href = `/feeds/updateFeed/${feedId}`;
                });
            });


            // Funcionalidad de cancelar edición
            document.querySelectorAll('.btn-cancel').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var row = btn.closest('tr');
                    row.classList.remove('editing');
                });
            });

            // Funcionalidad de guardar cambios
            document.querySelectorAll('.btn-save').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var row = btn.closest('tr');
                    var inputs = row.querySelectorAll('input');
                    var confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));

                    document.getElementById('confirmSave').onclick = function () {
                        inputs.forEach(function (input) {
                            var span = input.previousElementSibling;
                            span.innerText = input.value;
                        });
                        row.classList.remove('editing');
                        confirmModal.hide();
                    };

                    confirmModal.show();
                });
            });

            // Funcionalidad de eliminar
            document.querySelectorAll('.btn-delete').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var feedId = btn.getAttribute('data-feed-id');
                    var deleteFeedIdSpan = document.getElementById('deleteFeedId');
                    deleteFeedIdSpan.textContent = feedId;

                    var deleteConfirmModal = new bootstrap.Modal(document.getElementById('deleteConfirmModal'));
                    deleteConfirmModal.show();

                    document.getElementById('confirmDelete').onclick = function () {
                        fetch(`/feeds/deleteFeed/${feedId}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message === "Feed deleted successfully") {
                                    var row = btn.closest('tr');
                                    row.remove();
                                } else {
                                    alert("Error deleting feed: " + data.message);
                                    window.location.reload();
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                window.location.reload();
                            });
                        deleteConfirmModal.hide();
                    };
                });
            });

            // Funcionalidad de crear nuevo feed
            document.getElementById('createButton').addEventListener('click', function () {
                // Obtener los valores de los días seleccionados
                const selectedDays = [];
                ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'].forEach(day => {
                    if (document.getElementById(day).checked) {
                        selectedDays.push(day);
                    }
                });

                // Obtener el valor del intervalo de tiempo
                const intervalUnit = document.querySelector('.input-group select').value;

                const feedData = {
                    feed_name: document.getElementById('feed_name').value.trim(),
                    store_hash: document.getElementById('store_hash').value.trim(),
                    x_auth_token: document.getElementById('x_auth_token').value.trim(),
                    client_id: document.getElementById('client_id').value.trim(),
                    formulas: document.getElementById('formulas').value.trim(),
                    company_id: document.getElementById('company_id').value.trim(),
                    client_email: document.getElementById('client_email').value.trim(),
                    private_key: document.getElementById('private_key').value.trim(),
                    recurrence: {
                        intervalUnit: intervalUnit,
                        selectedDays: selectedDays
                    },
                    domain: document.getElementById('domain').value.trim()
                };

                // Verificar que ningún campo esté vacío (incluyendo los nuevos campos de recurrencia)
                for (let key in feedData) {
                    if (feedData[key] === "") {
                        alert(`The field ${key} cannot be empty`);
                        return;
                    }
                }

                if (feedData.recurrence.selectedDays.length === 0) {
                    alert("Please select at least one day of the week");
                    return;
                }

                fetch('/feeds/createFeed', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(feedData)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Feed created successfully") {
                            alert("Feed created successfully");
                            window.location.reload();
                        } else {
                            alert("Error creating feed");
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error creating feed");
                    });
            });

            // Funcionalidad de sincronización
            document.querySelectorAll('.btn-sync').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var feedId = btn.getAttribute('data-feed-id');

                    // Desactivar todos los botones de sincronización
                    document.querySelectorAll('.btn-sync').forEach(function (syncBtn) {
                        syncBtn.disabled = true;
                    });

                    // Mostrar modal de sincronización
                    var syncModal = new bootstrap.Modal(document.getElementById('syncModal'), {
                        backdrop: 'static',
                        keyboard: false
                    });
                    syncModal.show();

                    fetch(`/feeds/synchronize/${feedId}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => {
                            if (!response.ok) {
                                alert("Error en la sincronización");
                                syncModal.hide();
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.message) {
                                alert(data.message);
                            } else {
                                alert("Feed synchronized successfully");
                            }
                            window.location.reload();
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert("Error synchronizing feed");
                            syncModal.hide(); // Cerrar el modal en caso de error
                        })
                        .finally(() => {
                            // Volver a activar todos los botones de sincronización
                            document.querySelectorAll('.btn-sync').forEach(function (syncBtn) {
                                syncBtn.disabled = false;
                            });
                        });
                });
            });

            // Toggle password visibility
            document.querySelectorAll('.toggle-password').forEach(function (toggle) {
                toggle.addEventListener('click', function () {
                    var input = document.getElementById(toggle.getAttribute('data-toggle'));
                    if (input.type === 'password' || input.classList.contains('password-protected')) {
                        input.type = 'text';
                        input.classList.remove('password-protected');
                        toggle.innerHTML = '<i class="fas fa-eye-slash"></i>';
                    } else {
                        input.type = 'password';
                        input.classList.add('password-protected');
                        toggle.innerHTML = '<i class="fas fa-eye"></i>';
                    }
                });
            });


            // Funcionalidad de cancelar en el modal de creación
            document.getElementById('cancelButton').addEventListener('click', function () {
                window.location.reload();
            });


            // Funcionalidad de descarga
            document.querySelectorAll('.btn-download').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var feedId = btn.getAttribute('data-feed-id');

                    // Mostrar modal de espera
                    var downloadModal = new bootstrap.Modal(document.getElementById('downloadModal'), {
                        backdrop: 'static',
                        keyboard: false
                    });
                    downloadModal.show();

                    fetch(`/feeds/downloadFeed/${feedId}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => {
                            if (!response.ok) {
                                alert("Error al generar el archivo Excel");
                                downloadModal.hide();
                            }
                            return response.blob();
                        })
                        .then(blob => {
                            const url = window.URL.createObjectURL(blob);
                            const a = document.createElement('a');
                            a.style.display = 'none';
                            a.href = url;
                            a.download = 'Products.xlsx';
                            document.body.appendChild(a);
                            a.click();
                            window.URL.revokeObjectURL(url);
                            downloadModal.hide(); // Cerrar el modal después de la descarga
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert("Error al generar el archivo Excel");
                            downloadModal.hide(); // Cerrar el modal en caso de error
                        });
                });
            });
        });


        //Activador del cron

        document.addEventListener('DOMContentLoaded', function () {
            let selectedFeedId;

            document.querySelectorAll('.btn-toggle-cron').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    selectedFeedId = btn.getAttribute('data-feed-id');
                    var toggleCronModal = new bootstrap.Modal(document.getElementById('toggleCronModal'));
                    toggleCronModal.show();
                });
            });

            document.getElementById('confirmToggleCron').addEventListener('click', function () {
                fetch(`/feeds/toggleCron/${selectedFeedId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message) {
                            alert(data.message);
                            window.location.reload();
                        } else {
                            alert("Error toggling the cron job");
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error toggling the cron job");
                        window.location.reload();
                    });

                var toggleCronModal = bootstrap.Modal.getInstance(document.getElementById('toggleCronModal'));
                toggleCronModal.hide();
            });
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });


    </script>

</body>

</html>