<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .table td,
        .table th {
            padding: 0.75rem;
            white-space: nowrap;
        }

        .icon-btn {
            border: none;
            background: none;
            padding: 0;
            margin: 0 5px;
            cursor: pointer;
        }

        .icon-btn i {
            font-size: 1.2em;
            color: #007BFF;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .table thead th {
            white-space: nowrap;
        }

        .highlight-row {
            background-color: #f8f9fa;
        }

        .editable {
            display: none;
        }

        .editing .editable {
            display: inline;
        }

        .editing .non-editable {
            display: none;
        }

        .toggle-password {
            cursor: pointer;
        }

        .action-buttons {
            margin-bottom: 15px;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        {{#unless (eq roleModule.0.access_type "Read Only")}}
        <div class="action-buttons">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
                <i class="fas fa-plus"></i> Create
            </button>
        </div>
        {{/unless}}
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <i class="fas fa-users me-2"></i> <!-- Icono de Font Awesome -->
                <h2>List of Users</h2>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th class="col-id">ID</th>
                            <th class="col-name">Username</th>
                            <th class="col-name">Company</th>
                            {{#unless (eq roleModule.0.access_type "Read Only")}}
                            <th class="text-center">Actions</th>
                            {{/unless}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{this.user_id}}</td>
                            <td>{{this.username}}</td>
                            <td>{{this.company_name}}</td>
                            {{#unless (eq ../roleModule.0.access_type "Read Only")}}
                            <td class="text-center">
                                <button class="btn btn-primary btn-edit" data-user-id="{{this.user_id}}"
                                    data-username="{{this.username}}" data-company-id="{{this.company_id}}"
                                    data-company-name="{{this.company_name}}" data-role-id="{{this.role_id}}"
                                    title="Actualizar">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-delete" data-user-id="{{this.user_id}}"
                                    title="Eliminar">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                            {{/unless}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to save the changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmSave">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmModalLabel">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the user with ID <span id="deleteUserId"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to Create User -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Create New User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createForm">
                        <div class="mb-3">
                            <label for="newUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="newUsername" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" required>
                                <span class="input-group-text toggle-password" data-toggle="password">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirmPassword" required>
                                <span class="input-group-text toggle-password" data-toggle="confirmPassword">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <!-- Etiqueta para el campo del nombre de la compañía 
                        <div class="mb-3">
                            <label for="newCompanyName" class="form-label">Company Name</label>
                            {{#if (includes permisos 'modules')}}
                            <select class="form-control" id="company_id">
                                {{#each companies}}
                                <option value="{{this.company_id}}">{{this.company_name}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                            <select class="form-control" id="company_id">
                                {{#each companies}}
                                <option value="{{this.company_id}}">{{this.company_name}}</option>
                                {{/each}}
                            </select>
                            {{/if}}
                        </div>
                        -->

                        <!-- Temporal -->

                        <div class="mb-3">
                            <label class="form-label">Company Name</label>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each companies}}
                                        <tr>
                                            <td>{{this.company_name}}</td>
                                            <td>
                                                <input type="checkbox" class="form-check-input company-checkbox"
                                                    value="{{this.company_id}}">
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Temporal -->

                        <div class="mb-3">
                            <label for="newRoleName" class="form-label">Role</label>
                            <select class="form-control" id="rol_id">
                                {{#each roles}}
                                <option value="{{this.role_id}}">{{this.role_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to Edit User -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <input type="hidden" id="editUserId">
                        <div class="mb-3">
                            <label for="editUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="editUsername" required>
                        </div>

                        <!--
                            <div class="mb-3">
                                <label for="Password" class="form-label">Current Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="Password">
                                    <span class="input-group-text toggle-password" data-toggle="password">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                </div>
                            </div>
                            -->

                        <div class="mb-3">
                            <label for="editPassword" class="form-label">New Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="editPassword">
                                <span class="input-group-text toggle-password" data-toggle="editPassword">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editConfirmPassword" class="form-label">Confirm New Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="editConfirmPassword">
                                <span class="input-group-text toggle-password" data-toggle="editConfirmPassword">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editCompanyId" class="form-label">Company Name</label>
                            <select class="form-control" id="editCompanyId">
                                {{#each companies}}
                                <option value="{{this.company_id}}">{{this.company_name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <!-- Temporal -->

                        <div class="mb-3">
                            <label class="form-label">Company Name</label>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each companies}}
                                        <tr>
                                            <td>{{this.company_name}}</td>
                                            <td>
                                                <input type="checkbox" class="form-check-input company-checkbox-edit"
                                                    value="{{this.company_id}}">
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Temporal -->

                        <div class="mb-3">
                            <label for="editRoleId" class="form-label">Role</label>
                            <select class="form-control" id="editRoleId">
                                {{#each roles}}
                                <option value="{{this.role_id}}">{{this.role_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Funcionalidad de editar
            document.querySelectorAll('.btn-edit').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var userId = btn.getAttribute('data-user-id');
                    var username = btn.getAttribute('data-username');
                    var companyId = btn.getAttribute('data-company-id');
                    var roleId = btn.getAttribute('data-role-id');

                    console.log('UserId:', userId); // Debugging
                    console.log('Username:', username); // Debugging
                    console.log('CompanyId:', companyId); // Debugging
                    console.log('RoleId:', roleId); // Debugging

                    document.getElementById('editUserId').value = userId;
                    document.getElementById('editUsername').value = username;
                    document.getElementById('editCompanyId').value = companyId;
                    document.getElementById('editRoleId').value = roleId;

                    var editModal = new bootstrap.Modal(document.getElementById('editModal'));
                    editModal.show();
                });
            });
            // Funcionalidad de cancelar edición
            document.querySelectorAll('.btn-cancel').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var row = btn.closest('tr');
                    row.classList.remove('editing');
                });
            });
            // Funcionalidad de guardar cambios
            document.getElementById('editForm').addEventListener('submit', function (event) {
                event.preventDefault();
                var userId = document.getElementById('editUserId').value;
                var username = document.getElementById('editUsername').value;
                //var password = document.getElementById('Password').value;
                var newPassword = document.getElementById('editPassword').value;
                var confirmPassword = document.getElementById('editConfirmPassword').value;
                //var companyId = document.getElementById('editCompanyId').value;
                var roleId = document.getElementById('editRoleId').value;
                const companyCheckboxes = document.querySelectorAll('.company-checkbox-edit');
                const selectedCompanies = Array.from(companyCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value);

                console.log("selectedCompanies: ", companyCheckboxes); // Añadir mensaje de consola

                if (selectedCompanies.length === 0) {
                    alert("Debe seleccionar al menos una compañía.");
                    return;
                }

                if (newPassword !== confirmPassword) {
                    alert("Las contraseñas no coinciden");
                    return;
                }

                const primaryCompanyId = parseInt(selectedCompanies[0], 10);

                fetch(`/users/updateUser/${userId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username/*, password*/, newPassword, primaryCompanyId, roleId, selectedCompanies: selectedCompanies })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Usuario actualizado con éxito") {
                            alert("Usuario actualizado con éxito");
                            window.location.reload();
                        } else {
                            alert("Error al actualizar el usuario: " + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error al actualizar el usuario");
                    });
            });

            // Funcionalidad de eliminar
            document.querySelectorAll('.btn-delete').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var userId = btn.getAttribute('data-user-id');
                    var deleteUserIdSpan = document.getElementById('deleteUserId');
                    deleteUserIdSpan.textContent = userId;
                    var deleteConfirmModal = new bootstrap.Modal(document.getElementById('deleteConfirmModal'));
                    deleteConfirmModal.show();
                    document.getElementById('confirmDelete').onclick = function () {
                        fetch(`/users/deleteUser/${userId}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message === "Usuario eliminado con éxito") {
                                    var row = btn.closest('tr');
                                    row.remove();
                                } else {
                                    alert("Error al eliminar el usuario: " + data.message);
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert("Error al eliminar el usuario");
                            });
                        deleteConfirmModal.hide();
                    };
                });
            });



            // Funcionalidad de crear nuevo usuario
            document.getElementById('createForm').addEventListener('submit', function (event) {
                event.preventDefault();

                console.log('Document loaded'); // Debugging line

                var newUsername = document.getElementById('newUsername').value;
                var password = document.getElementById('password').value;
                var confirmPassword = document.getElementById('confirmPassword').value;
                //var newCompanyName = document.getElementById('company_id').value;
                var newRoleName = document.getElementById('rol_id').value;
                const companyCheckboxes = document.querySelectorAll('.company-checkbox');
                const selectedCompanies = Array.from(companyCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value);

                console.log("selectedCompanies: ", companyCheckboxes); // Añadir mensaje de consola

                if (selectedCompanies.length === 0) {
                    alert("Debe seleccionar al menos una compañía.");
                    return;
                }

                if (password !== confirmPassword) {
                    alert("Las contraseñas no coinciden");
                    return;
                }


                const primaryCompanyId = parseInt(selectedCompanies[0], 10);
                console.log("primaryCompanyId: ", primaryCompanyId); // Añadir mensaje de consola



                fetch('/users/createUser', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ company_id: primaryCompanyId, username: newUsername, password_hash: password, role_id: newRoleName, selectedCompanies: selectedCompanies })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Usuario creado con éxito") {
                            var newRow = `
                            <tr>
                                <td><span class="non-editable">${data.user_id}</span><input type="text" class="form-control editable" value="${data.user_id}" disabled></td>
                                <td><span class="non-editable">${newUsername}</span><input type="text" class="form-control editable" value="${newUsername}"></td>
                                <td><span class="non-editable">${newCompanyName}</span><input type="text" class="form-control editable" value="${newCompanyName}"></td>
                                <td><span class="non-editable">${newRoleName}</span><input type="text" class="form-control editable" value="${newRoleName}"></td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-edit" title="Actualizar" data-user-id="${data.user_id}" data-username="${newUsername}" data-company-id="${newCompanyName}" data-role-id="${newRoleName}">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger btn-delete" title="Eliminar" data-user-id="${data.user_id}">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        `;
                            document.querySelector('tbody').insertAdjacentHTML('beforeend', newRow);
                            var createModal = new bootstrap.Modal(document.getElementById('createModal'));
                            createModal.hide();
                            window.location.reload();
                        } else {
                            //alert("Error al crear el usuario: " + data.message);
                            window.location.reload();
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error al crear el usuario");
                    });
            });


            // Toggle password visibility
            document.querySelectorAll('.toggle-password').forEach(function (toggle) {
                toggle.addEventListener('click', function () {
                    var input = document.getElementById(toggle.getAttribute('data-toggle'));
                    if (input.type === 'password') {
                        input.type = 'text';
                        toggle.innerHTML = '<i class="fas fa-eye-slash"></i>';
                    } else {
                        input.type = 'password';
                        toggle.innerHTML = '<i class="fas fa-eye"></i>';
                    }
                });
            });
        });
    </script>
</body>

</html>